{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Opens</th>
                    <th scope="col">Closes</th>
                    <th scope="col">Coffee</th>
                    <th scope="col">Wifi</th>
                    <th scope="col">Power</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in range(number_of_cafes) %}
                        {% if i > 0 %}
                            <tr>
                            {% for record in cafes[i]  %}
                                <td>{{record}}</td>
                            {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>

            </table>

            <p><a href="{{ url_for('home') }}">Return to index page</a></p>

        </div>
    </div>
</div>
{% endblock %}
