{% extends "bootstrap/base.html" %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Coffee and Wifi{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">☕ Coffee & Wifi 💻</h1>
        <p class="lead">Want to work in a café but need power and Wi-Fi?</p>
        <hr class="my-4">
        <p>You've found the right place! Checkout my collection of cafes with data on power socket availability, wifi
            speed and coffee quality.</p>
        <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show Me!</a>
    </div>
</div>
{% endblock %}
